/* body {
  margin-top: 2rem;
} */

.modal-content {
  top: 100px;
}

.modal-dialog {
  max-width: 900px;
  margin: 0px auto !important;
}

.modal-body {
  position: relative;
  margin: 0 !important;
  padding: 0 !important ;
}

.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
  background: rebeccapurple;
  border: red;
}
