body,
html {
  overflow-x: hidden;
}

#search {
  color: rgb(248, 68, 100);
  background-color: rgb(31, 37, 51);
  border-color: rgb(248, 68, 100);
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  margin-left: 4px;
}

#search .icon {
  position: absolute;
  top: 6px;
  left: 5px;
}
.icon-signIn,
.icon-signUp {
  position: absolute;
  top: 4px;
  left: 3px;
}

#search:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(248, 68, 100);
  background-color: rgb(248, 68, 100);
}

#search:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.288);
}

#menu {
  color: rgb(204, 204, 204);
  padding-left: 0;
}

#menu:hover {
  color: rgb(255, 255, 255);
}

.header-bottom .navbar-toggler:focus {
  outline: 1px solid rgb(248, 68, 100) !important;
}

.myLogo .timKiem {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  display: inline-block;
}

.imgBtn .svg-inline--fa {
  font-size: 20px;
}
.textBtn {
  color: rgb(248, 68, 100);
  border-color: rgb(248, 68, 100);
  width: 110px;
  height: 35px;
  display: inline-block;
}

.imgBtn {
  color: rgb(248, 68, 100);
  background-color: rgb(31, 37, 51);
  border-color: rgb(248, 68, 100);
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  margin-left: 4px;
  display: none !important;
}

/* ====== Reponsive ====== */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPads (portrait and landscape) */
  .container {
    max-width: 1080px !important;
  }

  .textBtn {
    color: rgb(248, 68, 100);
    border-color: rgb(248, 68, 100);
    width: 150px;
    height: 35px;
    display: inline-block;
  }
}

/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  body,
  html {
    overflow-x: hidden;
  }
  .header-top .container,
  .header-bottom .container {
    width: 95%;
    margin: auto;
  }
  .header-top .container .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .myLogo img {
    width: 35px;
    height: 35px;
  }
  .myLogo .timKiem {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    outline: none;
  }
  .textBtn {
    display: none !important;
  }

  .imgBtn {
    display: inline-block !important;
  }
}

/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
}

/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
}

/*iPhone 6+ landscape*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
}

@media only screen and (min-width: 767px) {
  /* Desktops and laptops */
  .container {
    max-width: 1080px !important;
  }
}

@media screen and (max-width: 767.98px) {
  body,
  html {
    overflow-x: hidden;
  }
  .header-top .container,
  .header-bottom .container {
    width: 95%;
    margin: auto;
  }
  .header-top .container .row {
    margin-right: 0px;
    margin-left: 0px;
  }

  .myLogo img {
    width: 35px;
    height: 35px;
  }
  .myLogo .timKiem {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    outline: none;
    cursor: pointer;
  }
  .textBtn {
    display: none !important;
  }
  .imgBtn {
    display: inline-block !important;
  }
}
